.form-control.ng-touched.ng-invalid {
    border: 1px solid red;
}
.form-control.ng-touched.ng-valid {
    border: 1px solid green;
}
label{
    color:goldenrod;
}
h1{
    color:goldenrod;
}
form{
    border:1px solid #fff;
    border-radius: 5%;
    padding:40px 50px 50px 50px;
}